.main-container{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: 100%;
}

.nav{
    background-color: white;
    padding: 10px 10px 10px 20px;
}

.main-container .content{
    flex: 1;
    padding: 5px;
    margin: 0px!important;
}

.content-col{
    height: 100%;
    background-color: white;
}

.content-col-less{
    height: calc(100% - 73px);
    background-color: white;
    padding: 10px;
}

.content-col-less-2{
    height: calc(100% - 50px);
    background-color: white;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.padding-vertical{
    padding-bottom: 3px;
    padding-top: 3px;
}

.padding-horizontal{
    padding-left: 5px;
    padding-right: 5px;
}

.ui.label.round{
    border-radius: 100px;
}

.ui.input input{
    border-radius: 100px!important;
}

.ui.action.input>.button{
    border-top-right-radius: 100px!important;
    border-bottom-right-radius: 100px!important;
    background: #2185d0!important;
    color: white;
}


.ui.selection.dropdown .menu>.item{
    font-size: 12px;
}

.ui.statistic>.label, .ui.statistics .statistic>.label{
    color: #AAAAAA;
}

.ui.labels>.ui.label{
    margin-left: 0px;
}

.xlink {
    color: #AAAAAA;
    cursor: pointer;
}